@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --ff-page: 'Epilogue', sans-serif;
    --fc-primary:#ffffff;
    --fc-secondary:#BBB3E6;
    --fc-third:#090039;
    --fc-fourth:#363636;
    --fw-bold: 800;
    --fw-regular: 400;
    --fs-body: 1.6rem;
    --fs-heading: 4rem;
    
    font-size: 62.5%;
}

body{
    background-color: #28293E;
    font-family: var(--ff-page);
    font-size: var(--fs-body);
}

#page{
    max-width: 33rem;
    margin: 0 auto;
}

header{
    text-align: center;
    margin: 10rem 0 8rem;
    animation-name: topdown;
    animation-duration: 1s;
}

header h1{
    color: var(--fc-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-heading);
    line-height: 4.8rem;
}

header p{
    color: var(--fc-secondary);
    font-weight: var(--fw-regular);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 3.2rem;
    margin-bottom: 1.7rem;
    letter-spacing: 3px;
}

main{
    display: grid;
    gap: 3.2rem;
    animation: downtop 700ms backwards;
}

.card{
    position: relative;
}

.card span{
    font-weight: var(--fw-regular);
    
}

.card img{
    border-radius: 6px;
    height: 41.6rem;
    object-fit: cover;
    transition: 1s;
}

.card img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card h2{
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: var(--fc-fourth);
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card h2 span{
    border-radius: 2rem;
    background-color: #ffffff;
    color: var(--fc-fourth);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    padding: 0 1.6rem;
    height: 3.8rem;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

img{
    width: 100%;
    height: auto;
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes downtop{
   
   0%{
    opacity: 0;
    transform: translateY(20px);
   }
    
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
